@use 'sass:color';

footer {
    padding: 20px 0 10px;
    background: #26292E;
    line-height: 1.2;

    h4 {
        font-size: 140%;
        text-transform: uppercase;
        color: color.adjust($text-light, $lightness: -50%);
        margin: 25px 0 20px;
        font-family: "HelveticaNeueCyr-Medium", sans-serif;
    }

    p {
        color: color.adjust($text-light, $lightness: -50%);;
        font-size: 140%;
        margin: 0 0 5px 0;

        a {
            font-size: 100%;
        }
    }

    a {
        display: inline-block;
        font-size: 140%;
        color: color.adjust($text-light, $lightness: -50%);
        margin: 0 0 10px 0;


        &:hover {
            text-decoration: none;
            color: $text-light;
        }
    }

    .copyright {
        margin-top: 20px;
        padding: 15px 0 0;
        border-top: 1px solid #333333;
        text-align: center;

        p {
            font-size: 120%;
            color: color.adjust($text-light, $lightness: -40%);
        }
    }
}
